* {
    box-sizing: border-box;
}

body {
    background-color: chocolate;
}

h1, h3 {
    padding: 20px;
}

p {
    font-size: 24px;
}

.colDressing {
    border: skyblue dotted 2px;
    align-items: center;
    display: inline-block;
    padding: 40px;
    margin: 30px;
    width: 500px;
    min-height: 525px;
}

#hangmanHeader {
    background-color: blanchedalmond;
}

#hangmanPic, #hangmanIframe {
    margin: auto;
    vertical-align: auto;
}

#newGame {
    width: 146px;
    height: 50px;
    font-size: 24px;
    text-align: center;
    background-color: aqua;
    margin: 5px;
}

#tvShowDiv, #numOfGuessesLeft, #letGuessedDiv, #letGuessedSoFarDiv{
    background-color: blueviolet;
    margin: 10px;
    padding: 10px 0 0 0;
    color: white;
    border: 2px solid white;
}

#infoDiv {
    margin: 10px;
    padding: 10px 0 0 0;
}

#winsDiv {
    background-color: blueviolet;
    width: 200px;
    margin: 0 0 0 10px;
    padding: 4px;
    color: white;
    border: 2px solid white;
}

